services:
  - type: web
    name: junior-restaurant-backend
    env: python
    region: oregon 
    plan: free 
    rootDir: .
    buildCommand: "./build.sh"
    startCommand: "gunicorn --chdir Backend/restraunt restraunt.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0 
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
